:root {
  --primari_clr: #058B3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.container {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  z-index: inherit;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
}

.head h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
  letter-spacing: 2.5px;
  color: #058B3C;
}

.head a {
  width: 200px;
  height: 50px;
  margin: auto;
  display: block;
  text-align: center;
  padding: 8px;
  background-color: #058B3C;
  border-radius: 5px;
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: 2.5px;
  box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.3);
  transition: all 300ms ease 0ms;
}

.head a:hover {
  background-color: #F15A24;
  transform: translateY(-5px);
}

.carrusel {
  margin-top: 40px;
  height: 500px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
}

.box-slider {
  width: 1175px;
  height: 100%;
  background-color: #a3a3a3;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.texto {
  background-color: #058B3C;
  color: #FFFFFF;
  font-family: 'Poppins';
  height: 100%;
  width: 500px;
  padding: 15px;
  border-radius: 5px;
  font-style: normal;
}

.texto h4 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;

}

.texto p {
  font-size: 1em;
  font-weight: 300;
  margin-top: 20px;
  text-align: justify;
}

.imgs {
  display: flex;
  width: 400%;
  height: 100%;
}

.section-carrusel {
  height: 100%;
  width: calc(100%/4);
}

.section-carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-left, .btn-right {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  border-radius: 50%;
  color: #a3a3a3;
  background-color: transparent;
  transition: all 300ms ease 0ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 2em;
  font-weight: 500;
}

.btn-left:hover, .btn-right:hover {
  background-color: #30303081;
  color: #FFFFFF;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.caract {
  margin-top: 40px;
  height: 400px;
  width: 100%;
  border-radius: 20px;
  background-color: #058B3C;
}

.servicios {
  margin-top: 40px;
  height: 400px;
  width: 100%;
  border-radius: 20px;
  background-color: #058B3C;
}

.calendario {
  margin-top: 40px;
  height: 850px;
  width: 100%;
  position: relative;
  height: 850px;
  padding: 5px;
  color: #FFF;
  display: flex;
  border-radius: 10px;
  background-color: var(--primari_clr); 
}
.left {
  width: 60%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #878895;
  border-radius: 5px;
  background-color: #FFF;
}

.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #D3D5D6D7;
  transform: translateY(-50%);
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}

.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month .bi {
  cursor: pointer;
}

.calendar .month .bi:hover {
  color: var(--primari_clr);
}

.calendar .weekdays {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: solid 1px #F5F5F5;
}

.calendar .day:not(.prev-date , .next-date) {
  color: var(--primari_clr);
}

.calendar .day:not(.prev-date , .next-date):hover {
  color: #FFF;
  background-color: var(--primari_clr);
}

.calendar .prev-date, 
.calendar .next-date {
  color: #B3B3B3;
} 

.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #FFF;
  background-color: var(--primari_clr);
}

.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primari_clr);
}

.calendar .days .today {
  font-size: 2rem;
}

.calendar .days .event {
  position: relative;
}

.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translate(-50%);
  background-color: var(--primari_clr);
}

.calendar .event:hover::after {
  background-color: #FFF;
}

.calendar .active.event::after {
  background-color: #FFF;
  bottom: 20%;
}

.calendar .active.event {
  padding-bottom: 10px;
}

.calendar .goto-today {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primari_clr);
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primari_clr);
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primari_clr);
  border-radius: 5px;
}

.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primari_clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primari_clr);
}

.calendar .goto-today button:hover {
  color: #FFF;
  background-color: var(--primari_clr);
}

.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primari_clr);
  border-radius: 0;
}