:root {
	--clr-principal: #058B3C;
	--clr-principal-osc: #004336;
	--clr-resaltado: #F15A24;
	--clr-error: #ff2020;
	--clr-letra-blc: #FFFFFF;
	--clr-letra-blc-c: #FFFFFFde;
	--clr-letra-blc-cc: #FFFFFFab;
	--clr-letra-gris: #CACACA;
	--clr-fnd: #F4F4F7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

main {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;

	.container {
		width: 90%;
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 20px;
		z-index: inherit;

		form {
			position: relative;
			width: 100%;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			background-color: var(--clr-principal);
			margin-bottom: 100px;
			border-radius: 20px;
			padding: 25px;

			& h2 {
				color: var(--clr-letra-blc);
				margin-bottom: 30px;
				font-size: 1.5em;
				font-weight: 700;
				font-style: normal;
			}

			& h4 {
				color: var(--clr-letra-blc);
				font-size: 1.1em;
				font-weight: 700;
				font-style: normal;
			}

			& label {
				display: flex;
				align-items: center;
				gap: 5px;
				color: var(--clr-letra-blc-c);
				font-size: 1em;
				font-weight: 400;
				font-style: normal;
			}

			.dts-salon,
			.dts-cot {
				position: relative;
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 15px;
				gap: 5px;
			}

			.dts-salon::after {
				content: "";
				width: 2px;
				top: 0%;
				border-radius: 2px;
				height: 98%;
				left: 100%;
				position: absolute;
				background-color: #FFFFFF;
			}

			.formulario__checkbox {
				appearance: none;
				width: 18px;
				height: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--clr-letra-blc);
				border-radius: 1px;
				cursor: pointer;
			}

			.formulario__checkbox::after {
				content: "✔";
				font-weight: 900;
				font-size: 1.2em;
				color: var(--clr-principal-osc);
				display: none;
			}

			.formulario__checkbox:hover {
				background-color: var(--clr-letra-gris);
			}

			.formulario__checkbox:checked {
				background-color: var(--clr-principal);
			}

			.formulario__checkbox:checked::after {
				display: block;
			}

			/* Estilos de la fecha y hora */
			.grupo__dia {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;

				.formulario__date {
					width: 100%;
					height: 35px;
					border-radius: 10px;
					border: 2px solid transparent;
					padding: 0px 10px;
					font-style: normal;
					font-weight: 600;
					font-size: 1em;
					cursor: pointer;
				}

				.formulario__date:hover {
					border: 2px solid var(--clr-principal-osc);
				}

				#day {
					width: 30%;
					display: flex;
					align-items: center;
					gap: 5px;
					justify-content: center;
				}

				.day {
					width: 30%;
					display: flex;
					align-items: center;
					gap: 5px;
					justify-content: center;
				}

				#day.none {
					display: none;
				}

				#hour.none {
					display: none;
				}

				#hour {
					width: 30%;
					display: flex;
					align-items: center;
					gap: 5px;

					a {
						text-decoration: unset;
						color: #000;
					}

					.selectbox.none {
						display: none;
					}

					.selectbox {
						width: 100%;
						position: relative;

						.select {
							width: 100%;
							height: 35px;
							background-color: #FFFFFF;
							box-shadow: 0px 0px 0px rgb(0, 0, 0, .16);
							border-radius: 10px;
							cursor: pointer;
							display: flex;
							align-items: center;
							justify-content: center;
							transition: .2s ease all;
							/* padding: 5px 10px; */
							position: relative;
							z-index: 100;
							border: 2px solid transparent;

							.title {
								color: #000;
								font-weight: 600;
								font-size: 1em;
							}

							/* i {
								font-size: 1em;
								color: var(--clr-principal-osc);
							} */

							/* .description {
										font-size: 18px;
										color: #434343;
									} */

						}

						.select.active,
						.select:hover {
							box-shadow: 0px 0px 0px rgb(0, 0, 0, .16);
							border: 2px solid var(--clr-principal-osc);
						}

						.options::-webkit-scrollbar {
							width: 5px;
							background-color: transparent;
						}

						.options::-webkit-scrollbar-thumb {
							background-color: var(--clr-principal-osc);
							border-radius: 5px;
						}

						.options {
							top: 100%;
							position: absolute;
							background-color: #FFFFFF;
							border-radius: 10px;
							box-shadow: 0px 5px 10px rgb(0, 0, 0, .16);
							overflow: auto;
							z-index: 99;
							width: 100%;
							display: none;

							.content__option {
								width: 100%;
								display: flex;
								align-items: center;
								transition: .2s ease all;
								padding: 8px;

								.title {
									color: #000;
									font-weight: 500;
									font-size: 0.8em;
								}

								/* img {
											margin-right: 30px;
										} */
							}

							.content__option:hover {
								background-color: var(--clr-principal-osc);

								.title {
									color: #FFFFFF;
								}
							}
						}

						.options.active {
							display: block;
							height: 150px;
						}

					}
				}
			}

			/* Estilos del tipo de evento */
			.event-class {
				width: 50%;
				display: flex;
				align-items: center;
				flex-direction: column;

				div {
					width: 50%;
					display: flex;
					align-items: center;
					gap: 5px;

					.formulario__radio {
						appearance: none;
						width: 18px;
						height: 15px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: var(--clr-letra-blc);
						border-radius: 100%;
						cursor: pointer;
					}

					.formulario__radio::after {
						content: "✔";
						font-weight: 900;
						font-size: 1.2em;
						color: var(--clr-principal-osc);
						display: none;
					}

					.formulario__radio:hover {
						background-color: var(--clr-letra-gris);
					}

					.formulario__radio:checked {
						background-color: var(--clr-principal);
					}

					.formulario__radio:checked::after {
						display: block;
					}

					label {
						color: var(--clr-letra-blc-cc);
						width: 100%;
						display: block;
						cursor: pointer;
					}
				}
			}

			/* Estilos de servicios adicionales */
			.add-serv {
				width: auto;

				.formulario__label {
					display: flex;
					align-items: center;
					gap: 5px;
					color: var(--clr-letra-blc-cc);
				}
			}

			.dts-cot {
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 10px;

				.formulario__grupo {
					width: 60%;
					display: flex;
					flex-direction: column;

					.formulario__label {
						color: var(--clr-letra-blc);
					}

					.formulario__grupo-input {
						display: flex;
						align-items: center;

						.formulario__input {
							width: 100%;
							height: 35px;
							line-height: 35px;
							margin: 0;
							border: 3px solid transparent;
							border-radius: 10px;
							padding: 0 30px 0 10px;
							transition: .3s ease all;
						}

						.formulario__input:focus {
							border: 3px solid var(--clr-principal-osc);
						}

						.bi {
							transform: translateX(-25px);
							opacity: 0;
						}
					}

					.formulario__input-error {
						color: var(--clr-error);
						font-size: 0.8em;
						font-weight: 600;
						margin-bottom: 0;
						display: none;
					}

					.formulario__input-error-activo {
						display: block;
					}

				}
			}

			.total {
				width: 100%;
				height: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				div {
					width: 100%;
					display: flex;

					ul {
						width: 50%;
						display: flex;
						flex-direction: column;
						gap: 8px;

						& li {
							display: flex;
							color: var(--clr-letra-blc);
							font-style: normal;
							font-weight: 600;
							gap: 15px;

							ul li {
								color: var(--clr-letra-blc-c);
								font-weight: 400;
							}
						}
					}
				}
			}

			.formulario__grupo-enviar {
				position: absolute;
				top: 105%;
				right: 0%;
				width: 100%;
				display: flex;
				align-items: center;
				flex-direction: column;

				.formulario__btn {
					width: 200px;
					height: 50px;
					display: block;
					text-align: center;
					padding: 8px;
					background-color: var(--clr-principal);
					border: unset;
					border-radius: 5px;
					font-size: 1.5em;
					text-decoration: none;
					font-family: 'Poppins', sans-serif;
					font-weight: 700;
					font-style: normal;
					color: var(--clr-letra-blc);
					letter-spacing: 2.5px;
					box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.3);
					transition: all 300ms ease 0ms;
					cursor: pointer;
				}

				.formulario__btn:hover {
					background-color: var(--clr-resaltado);
					transform: translateY(-5px);
				}

				p {
					display: none;
					align-items: center;
					height: 40px;
					line-height: 40px;
					background-color: var(--clr-error);
					color: var(--clr-letra-blc);
					padding: 10px 5px;
					margin-top: 10px;
					border-radius: 5px;
					font-size: 1.5em;
					font-weight: 600;
					font-style: normal;
				}
			}

		}
	}
}