:root {
	--clr-principal: #058B3C;
	--clr-principal-osc: #004336;
	--clr-resaltado: #F15A24;
	--clr-error: #ff2020;
	--clr-letra-blc: #FFFFFF;
	--clr-letra-blc-c: #FFFFFFde;
	--clr-letra-blc-cc: #FFFFFFab;
	--clr-letra-gris: #CACACA;
	--clr-fnd: #F4F4F7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

#subSocial {
	display: none;
}

#subSocial.more {
	display: block;
	padding-left: 20px;
}

input#other {
	width: 60%;
	border-radius: 5px;
	border: unset;
	padding: 2.5px 5px;
}

label#other {
	width: 25%;
}

main {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;

	.container {
		width: 90%;
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 20px;
		z-index: inherit;

		form {
			position: relative;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: 15px;
			background-color: var(--clr-principal);
			border-radius: 20px;
			padding: 25px;

			& h2 {
				color: var(--clr-letra-blc);
				margin-bottom: 30px;
				font-size: 1.5em;
				font-weight: 700;
				font-style: normal;
			}

			& h4 {
				color: var(--clr-letra-blc);
				font-size: 1.1em;
				font-weight: 700;
				font-style: normal;
			}

			& label {
				display: flex;
				align-items: center;
				gap: 5px;
				color: var(--clr-letra-blc-c);
				font-size: 1em;
				font-weight: 400;
				font-style: normal;
			}

			& input,
			select {
				width: 200px;
				height: 35px;
				border-radius: 5px;
				border: #004336 1px;
				padding: 5px 10px;
			}

			.up,
			.down {
				display: flex;
				flex-direction: row;
				gap: 25px;
			}

			.left,
			.right {
				display: flex;
				width: 50%;
				flex-direction: column;
				gap: 10px;
			}

			.time {
				display: flex;
				justify-content: space-between;

				.hours {
					display: flex;
					gap: 5px;

					.title {
						display: flex;
						flex-direction: column;

						label {
							width: 100%;
							display: block;
						}

						.init,
						.end {
							display: flex;
							gap: 5px;

							select {
								width: 70px;
							}
						}
					}
				}
			}

			.event-type {
				display: flex;
				flex-wrap: wrap;
				gap: 12px;

				.type,
				.activity {
					width: 49%;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.other.visible {
					display: flex;
				}

				.other {
					width: 100%;
					display: none;
					justify-content: center;
					gap: 15px;
				}
			}

			.date,
			.people,
			.event-character {
				display: flex;
				justify-content: space-between;
			}

			.primary-dates {
				display: flex;
				gap: 5%;

				.dates {
					display: flex;
					flex-direction: column;
					width: 65%;
					gap: 10px;

					.name,
					.phone,
					.email {
						display: flex;
						justify-content: space-between;

						label {
							width: 50%;
						}
					}
				}

				.category {
					width: 30%;
					height: 100%;
					background-color: #F4F4F7;
				}
			}

			.person-type {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;

				.radios {
					position: relative;
					width: 200px;
					height: 35px;

					input {
						position: absolute;
						height: 100%;
						width: 100%;
						margin: 0;
						cursor: pointer;
						z-index: 2;
						opacity: 0;
					}

					.radio-title {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						height: 100%;
						border: 2px solid var(--clr-principal-osc);
						border-radius: 5px;
						transition: all 300ms ease;
					}

					label {
						color: var(--clr-principal-osc);
						font-size: 1.2em;
						font-weight: bold;
						font-style: normal;
					}

					input:checked+.radio-title {
						background-color: var(--clr-principal-osc);
						box-shadow: 0 0 12px var(--clr-principal-osc);
					}

					input:hover+.radio-title {
						box-shadow: 0 0 12px var(--clr-principal-osc);
					}

					input:checked+.radio-title label {
						color: var(--clr-letra-blc);
					}
				}
			}

			.company.visible {
				display: flex;
			}

			.company {
				display: none;
				flex-direction: row;
				gap: 5px;

				div {
					width: calc(100/3);

					label {
						width: 100%;
						display: block;
					}

					input {
						width: 100%;
					}
				}
			}

			.address {
				display: flex;
				gap: 5px;

				div {
					width: 50%;
					display: flex;
					justify-content: space-between;
				}
			}

			.down {

				.left {
					flex-direction: row;

					.services,
					.logistics {
						width: 50%;

						label {
							width: 100%;

							input {
								width: 20px;
								height: 20px;
								border: unset;
								border-radius: 1px;
							}
						}

						p {
							color: var(--clr-letra-blc);
							margin-top: 10px;
							font-size: 0.8em;
						}
					}
				}

				.right {

					ul {
						list-style: none;
						color: var(--clr-letra-blc);
						display: flex;
						flex-direction: column;
						gap: 5px;
						margin-left: -30px;

						li>ul {
							color: var(--clr-letra-blc-cc);
							display: flex;
						}

						div {
							width: 100%;
							height: 50px;
							display: flex;
							justify-content: space-around;
							align-items: end;

							a {
								display: block;
								width: 180px;
								height: 30px;
								border: 2px solid var(--clr-principal-osc);
								border-radius: 5px;
								background: transparent;
								color: var(--clr-principal-osc);
								font-weight: bold;
								text-align: center;
								padding: 2px 0px;
								cursor: pointer;
								transition: all 300ms ease;
							}

							a:hover {
								box-shadow: 0 0 12px var(--clr-principal-osc);
							}
						}
					}
				}
			}

		}

		.btn-submit {
			width: 200px;
			height: 50px;
			display: block;
			text-align: center;
			margin-top: 25px;
			padding: 8px;
			background-color: var(--clr-principal);
			border: unset;
			border-radius: 5px;
			font-size: 1.5em;
			text-decoration: none;
			font-family: 'Poppins', sans-serif;
			font-weight: 700;
			font-style: normal;
			color: var(--clr-letra-blc);
			letter-spacing: 2.5px;
			box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.3);
			transition: all 300ms ease 0ms;
			cursor: pointer;
		}

		.btn-submit:hover {
			background-color: var(--clr-resaltado);
			transform: translateY(-5px);
		}
	}
}