* {
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99;
}
/*Parte superior del encabezado*/
.hd-hidden {
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*Parte donde se encuentra el gov.co*/
.hidden-1 {
  height: 25.2px;
  width: 100%;
  background-color: #FFF;
  padding: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.hidden-1 img {
  height: 22px;
  width: 105px;
  margin-right: 45px;
}
/*Menu de navegación con los servicios principales*/
.hidden-2 {
  height: 46.8px;
  width: 100%;
  background-color: #058B3C;
  display: flex;
  justify-content: space-between;
}

.nav1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
}

.nav1 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav1 ul li a {
  display: block;
  text-decoration: none;
  font-family: "Poppins", Sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  margin-right: 10px;
}

.singup {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40px;
}

.singup a {
  display: block;
  text-decoration: none;
  font-family: "Poppins", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
}
/*Segunda parte del encabezado, se fija a la pantalla cuando se hace scroll*/
#hd-fijo {
  background-color: #FFF;
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 6px 8px rgb(0, 0, 0, 0.3);
}

#hd-fijo.abajo {
  position: fixed;
  z-index: 98;
}

/*Logo centro de eventos*/
.logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 60px;
  width: 220px;
  margin-left: 40px;
}
/*Segundo nav donde estan los servicios de camara de comercio e informacion*/

.nav2 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: end;
}

.nav2 ul {
  list-style: none;
  display: flex;
}

.submenus.uno {
  bottom: auto;
  top: auto;
}

.nav2 li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  letter-spacing: 0.1px;
  display: block;
  padding: 10px 15px;
  transition: 300ms;
  color: #000;
}

.center {
  padding: 10px 0px;
}

.menu1:hover {
  color: #058B3C;
  transition: 300ms;
}

/* Configuración de las animaciones debajo de cada item de la barra de navegación */



/* Configuración de diferentes hover para los menus desplegables y sus estados activos*/

.menu2-top:hover {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu2-top-active {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu2:hover {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
}

.menu2-active {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
}

.menu2-bottom:hover {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu2-bottom-active {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu2-alone:hover {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
  border-radius: 10px;
}

.menu2-alone-active {
  background-color: #058B3C;
  color: #FFF;
  transition: 300ms;
  border-radius: 10px;
}

/* Estilos de los menús desplegables */

.nav2 li ul {
  display: none;
  position: absolute;
  z-index: inherit;
}

.nav2 li:hover > ul {
  display: block;
  z-index: 1;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
}

.nav2 li ul li {
  position: relative;
}

.nav2 li ul li ul {
  -webkit-box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  background-color: #FFF;
  bottom: auto;
  z-index: 2;
}

/* Ajustes de disposición de los submenús desplegables */

.menu3-1 {
  left: -407px;
}

.menu3-2 {
  right: -262px;
}

.menu3-3 {
  left: -245px;
}

.menu3-4 {
  right: -402px;
}

.menu3-5 {
  left: -287px;
}

.menu3-6 {
  left: -184px;
}

.bi-search {
  color: #058B3C;
  font-size: 1.5em;
  text-align: center;
}

.btn-search {
  margin-right: 40px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-search a {
  margin-right: 15px;
  display: block;
}

.btn-search .btn-trmt {
  font-family: "Poppins", Sans-serif;
  text-decoration: none;
  color: #058B3C;
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #058B3C;
  border-radius: 6px;
  margin: auto;
  padding: 7px 7px 7px 7px;
  cursor: pointer;
  transition: all 300ms ease 0ms;
}

.btn-search .btn-trmt:hover {
  color: #FFF;
  background-color: #058B3C;
}

/*media query*/