* {
  top: 0;
  margin: 0;
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #058B3C;
  border-radius: 5px;
}

.filtro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px;

  .search {
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: start;
    align-items: center;
    
    input {
      width: 90%;
      height: 30px;
      border-radius: 5px;
      border-color: #058B3C;
      padding: 5px;
      font-size: 1em;
      font-weight: 400;
      font-style: normal;
      font-family: 'Poppins', sans-serif;
    }
    
    .sch2 {
      transform: translateX(-25px);
      font-size: 1.2em;
    }
  }
  
  .select {
    width: 30%;
    display: flex;
    justify-content: end;
    gap: 15px;
    
    h4 {
      display: flex;
      align-items: center;
      color: #058B3C;
      font-size: 1em;
      font-weight: 400;
      font-style: normal;
      font-family: 'Poppins', sans-serif;
    }
    
    select {
      width: 50%;
      height: 30px;
      border: solid 2px;
      border-color:  #058B3C;
      border-radius: 5px;
      font-size: 1em;
      font-weight: 400;
      font-style: normal;
      font-family: 'Poppins', sans-serif;

      cursor: pointer;
    }
  }
}

.salones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 60px;
  margin-top: 0;
}

.salon {
  width: 45%;
  height: 300px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;

  -webkit-box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 0px 37px -15px rgba(0,0,0,0.43);
  
  .card-img {
    width: 65%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
    
    ul {
      width: 400%;
      display: flex;
      padding: 0;

      animation: slide 15s infinite alternate ease-in-out;
      
      li {
        width: 100%;
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0
      }
      
      img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
      }
    }
  }
  
  .card-body {
    width: 35%;
    height: 290px;
    padding: 5px;
    
    .card-head {
      height: 30%;
      display: flex;
      align-items: baseline;
      justify-content: center;
      color: #058B3C;
      font-weight: 700;
      text-align: center;
      font-style: normal;
      font-family: 'Poppins' sans-serif;
    }
    
    .card-main {
      height: 55%;
      display: flex;
      align-items: center;
      font-size: 1em;
      font-weight: 500;
      text-align: center;
      font-style: normal;
      font-family: 'Poppins' sans-serif;
    }
    
    .card-footer {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: end;
      justify-content: space-evenly;
      
      a {
        width: 45%;
        height: 30px;
        display: block;
        background-color: #004336;
        border-radius: 10px;
        padding: 5px;
        color: #FFF;
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        font-family: 'Poppins' sans-serif;

        transition: all 300ms ease 0ms;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.43);
      }
      
      a:hover {
        background-color: #528F1D;
        transform: translateY(-5px);
      }
    }
  }
}


/* #528F1D Color para el hover en los botones*/

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

@media (max-width: 1250px) {
  .card-footer a {
    font-size: 0.8em;
  }
}