* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.container {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  z-index: inherit;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2em;
    font-style: normal;
    letter-spacing: 2.5px;
    color: #058B3C;
  }

  a {
    width: 200px;
    height: 50px;
    display: block;
    text-align: center;
    padding: 8px;
    background-color: #058B3C;
    border-radius: 5px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.3);
    transition: all 300ms ease 0ms;
  }

  a:hover {
    background-color: #F15A24;
    transform: translateY(-5px);
  }
}

.carrusel {
  margin-top: 40px;
  height: 500px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
}

.box-slider {
  width: 1175px;
  height: 100%;
  background-color: #a3a3a3;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.texto {
  background-color: #058B3C;
  color: #FFFFFF;
  font-family: 'Poppins';
  height: 100%;
  width: 500px;
  padding: 15px;
  border-radius: 5px;
  font-style: normal;
}

.texto h4 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;

}

.texto p {
  font-size: 1em;
  font-weight: 300;
  margin-top: 20px;
  text-align: justify;
}

.imgs {
  display: flex;
  width: 400%;
  height: 100%;
}

.section-carrusel {
  height: 100%;
  width: calc(100%/4);
}

.section-carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-left, .btn-right {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  border-radius: 50%;
  color: #a3a3a3;
  background-color: transparent;
  transition: all 300ms ease 0ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 2em;
  font-weight: 500;
}

.btn-left:hover, .btn-right:hover {
  background-color: #30303081;
  color: #FFFFFF;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.caract {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 400px;
  width: 100%;
  border-radius: 20px;
  background-color: #058B3C;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Los estilos del calendario se encuentran en la ruta "/css/calendar.css" */