* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.container {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  z-index: inherit;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2em;
    font-style: normal;
    letter-spacing: 2.5px;
    color: #058B3C;
  }

  a {
    width: 200px;
    height: 50px;
    display: block;
    text-align: center;
    padding: 8px;
    background-color: #058B3C;
    border-radius: 5px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.3);
    transition: all 300ms ease 0ms;
  }

  a:hover {
    background-color: #F15A24;
    transform: translateY(-5px);
  }
}

.carrusel {
  margin-top: 40px;
  height: 500px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
}

.box-slider {
  width: 1175px;
  height: 100%;
  background-color: #a3a3a3;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.texto {
  width: 500px;
  height: 100%;
  background-color: #058B3C;
  padding: 20px;
  border-radius: 5px;

  h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-style: normal;
  }

  h4 {
    color: #FFFFFF;
    font-weight: 700;
    font-style: normal;
    margin-top: 12px;
  }

  ul {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    li img {
      width: 2em;
      height: 2em;
    }
  }
}

.imgs {
  display: flex;
  width: 400%;
  height: 100%;
}

.section-carrusel {
  height: 100%;
  width: calc(100%/4);
}

.section-carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-left,
.btn-right {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  border-radius: 50%;
  color: #a3a3a3;
  background-color: transparent;
  transition: all 300ms ease 0ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 2em;
  font-weight: 500;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #30303081;
  color: #FFFFFF;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.caract {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #058B3C;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 25px;

  h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
  }

  .div-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .plano {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .plano::after {
      content: "";
      width: 2px;
      border-radius: 2px;
      height: 98%;
      position: absolute;
      left: 100%;
      background-color: #FFFFFF;
    }

    .plano img {
      height: 500px;
    }

    .serv {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      & h4 {
        color: #FFFFFF;
        font-weight: 700;
        font-style: normal;
        margin-top: 12px;
      }
  
      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #FFFFFF;
        font-weight: 300;
        font-style: normal;
        font-size: 1em;
  
        li {
          display: flex;
          align-items: center;
          gap: 8px;
        }
  
        li img {
          width: 2em;
          height: 2em;
        }
      }
    }

  }
}

/* Los estilos del calendario se encuentran en la ruta "/css/calendar.css" */

.foot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  a {
    width: 200px;
    height: 50px;
    display: block;
    text-align: center;
    padding: 8px;
    background-color: #058B3C;
    border-radius: 5px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.3);
    transition: all 300ms ease 0ms;
  }

  a:hover {
    background-color: #F15A24;
    transform: translateY(-5px);
  }
}