<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/components/css/style.css">
  <title>Calendar</title>
</head>
<body>

  <div class="container">
    <div class="left">
      <div class="calendar">
        <div class="month">
          <i class="bi bi-arrow-left-circle-fill" id="prev"></i>
          <div class="date"></div>
          <i class="bi bi-arrow-right-circle-fill" id="next"></i>
        </div>
        <div class="weekdays">
          <div>Domingo</div>
          <div>Lunes</div>
          <div>Martes</div>
          <div>Miércoles</div>
          <div>Jueves</div>
          <div>Viernes</div>
          <div>Sábado</div>
        </div>
        <div class="days">
          <!-- Agregamos los dias con js -->
        </div>
        <div class="goto-today">
          <div class="goto">
            <input type="text" placeholder="mm/yyyy" class="date-input">
            <button class="goto-btn">Ir</button>
          </div>
          <button class="today-btn">Hoy</button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="today-date">
        <div class="event-day">Miércoles</div>
        <div class="event-date">15 Mayo 2024</div>
      </div>
      <div class="events">
        <!-- Se añadirá con js -->
      </div>
      <div class="add-event-wrapper">
        <div class="add-event-header">
          <div class="title">Agregar evento</div>
          <i class="bi bi-x-circle" id="close"></i>
        </div>
        <div class="add-event-body">
          <div class="add-event-input">
            <input type="text" placeholder="Nombre del Evento" class="event-name">
          </div>
          <div class="add-event-input">
            <input type="text" placeholder="Hora de Inicio" class="event-time-from">
          </div>
          <div class="add-event-input">
            <input type="text" placeholder="Hora de Fin" class="event-time-to">
          </div>
          <div class="add-event-footer">
            <button class="add-event-btn">Agregar</button>
          </div>
        </div>
      </div>
    </div>
    <button class="add-event">
      <i class="bi bi-plus-circle"></i>
    </button>
  </div>

  <script src="/js/calendar.js"></script>
</body>
</html>