<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <title>Plantilla</title>
</head>
<body>
  <header>
    <div class="hd-hidden">
      <div class="hidden-1">
        <img src="img/articles-76053_logo-1.webp">
      </div>
      <div class="hidden-2">
        <div class="nav1">
          <ul>
            <li><a href="">Afiliados</a></li>
            <li><a href="">Transparencia</a></li>
            <li><a href="">Canales de atención y sedes</a></li>
            <li><a href="">Comunicaciones</a></li>
            <li><a href="">Centro de eventos</a></li>
            <li><a href="">ZASCA Tecnologías</a></li>
            <li><a href="">Startup Weekend</a></li>
            <li><a href="">Correspondencia</a></li>
          </ul>
        </div>
        <div class="singup">
          <a href="">Inicia Sesión</a>
        </div>
      </div>
    </div>
    <div id="hd-fijo">
      <div class="logo">
        <img src="img/Logo_CE-03.png">
      </div>
      <div class="nav2">
        <ul>
          <li><a href="" class="menu1">Inicio</a></li>
          <li><a href="" class="menu1">Sobre la <br>Cámara</a>
            <ul class="submenus uno">
              <li><a href="" class="menu2-top">¿Quienes somos?</a></li>
              <li><a href="" class="menu2">Estructura organizacional</a></li>
              <li><a href="" class="menu2">Directorio institucional</a></li>
              <li><a href="" class="menu2">Elecciones justa directiva y revisoría Fiscal 2023 - 2026</a></li>
              <li><a href="" class="menu2">Inspección vigilancia y control</a>
                <ul class="menu3-1">
                  <li><a href="" class="menu2-top">Mecanismos internos de supervición</a></li>
                  <li><a href="" class="menu2">Entes y autoridades que vigilan o supervisan nuestra entidad</a></li>
                  <li><a href="" class="menu2">Mecanismos de contacto con el sujeto obligado</a></li>
                  <li><a href="" class="menu2">Ley de Transparencia</a></li>
                  <li><a href="" class="menu2-bottom">Sistema de prevención de fraudes - SIPREF</a></li>
                </ul>
              </li>
              <li><a href="" class="menu2">¿Quieres ser proveedor de bienes y servicios?</a></li>
              <li><a href="" class="menu2-bottom">Peticiones, quejas, reclamos, solicitudes y felicitaciones</a></li>
            </ul>
          </li>
          <li><a href="" class="menu1">Registros <br>Públicos</a>
            <ul class="submenus uno">
              <li><a href="" class="menu2-top">Tramites virtuales</a>
                <ul class="menu3-2">
                  <li><a href="" class="menu2-top">Creacion de empresa</a>
                    <ul class="menu3-3">
                      <li><a href="" class="menu2-alone">VUE - Ventanilla Única Empresarial</a></li>
                    </ul>
                  </li>
                  <li><a href="" class="menu2">Renovacion de la matricula mercantil</a>
                    <ul class="menu3-4">
                      <li><a href="" class="menu2-top">Registro de entidades sin ánimo de lucro - ESAL</a></li>
                      <li><a href="" class="menu2">Registro nacional de turismo - RNT</a></li>
                      <li><a href="" class="menu2">Registro unico nacional de operadores de Libranza - RUNEOL</a></li>
                      <li><a href="" class="menu2">Registro único de proponentes</a></li>
                      <li><a href="" class="menu2">Registro de entidades de economía solidaria</a></li>
                      <li><a href="" class="menu2">Registro de veedurías ciudadanas</a></li>
                      <li><a href="" class="menu2-bottom">Registro de vendedores de juegos de suerte y azar</a></li>
                    </ul>
                  </li>
                  <li><a href="" class="menu2">Consulta de nombre (homonimia)</a></li>
                  <li><a href="" class="menu2">Inscripción de documentos</a></li>
                  <li><a href="" class="menu2">Registro único de proponentes</a></li>
                  <li><a href="" class="menu2">Verificación de certificados</a></li>
                  <li><a href="" class="menu2-bottom">Certificados</a></li>
                </ul>
              </li>
              <li><a href="" class="menu2">Registro mercantil</a></li>
              <li><a href="" class="menu2">Guías, modelos y formatos</a></li>
              <li><a href="" class="menu2">Trarifas</a></li>
              <li><a href="" class="menu2">Sociedades BIC</a></li>
              <li><a href="" class="menu2-bottom">Noticia mercantil</a></li>
            </ul>
          </li>
          <li><a href="" class="menu1">Oportunidades <br>Empresariales</a>
            <ul class="submenus uno">
              <li><a href="" class="menu2-top">Diagnóstico Empresarial</a></li>
              <li><a href="" class="menu2">Emprendimiento</a></li>
              <li><a href="" class="menu2">Economía Popular</a></li>
              <li><a href="" class="menu2">Programas Empresariales</a></li>
              <li><a href="" class="menu2">Asociatividad</a></li>
              <li><a href="" class="menu2">Transformación Digital</a></li>
              <li><a href="" class="menu2">Exporte sus Productos</a></li>
              <li><a href="" class="menu2">Productividad</a></li>
              <li><a href="" class="menu2-bottom">Sostenible</a></li>
            </ul>
          </li>
          <li><a href="" class="menu1">Conciliación y <br>Arbitraje</a></li>
          <li><a href="" class="menu1">Afiliados</a></li>
          <li><a href="" class="menu1">Eventos</a>
            <ul class="submenus uno">
              <li><a href="" class="menu2-top">Calendario de eventos</a>
                <ul class="menu3-5">
                  <li><a href="" class="menu2-top">Ferias, exposiciones y ruedas de negocios</a></li>
                  <li><a href="" class="menu2-bottom">Misiones comerciales</a></li>
                </ul>
              </li>
              <li><a href="" class="menu2">Capacitaciones</a>
                <ul class="menu3-6">
                  <li><a href="" class="menu2-top">Formación sin costo</a></li>
                  <li><a href="" class="menu2-bottom">Formación especializada</a></li>
                </ul>
              </li>
              <li><a href="" class="menu2-bottom">Centro de Eventos</a></li>
            </ul>
          </li>
        </ul>
        <div class="btn-search">
          <a href=""><i class="bi bi-search"></i></a>
          <button>Trámites Virtuales</button>
        </div>
      </div>
    </div>
  </header>
  <main>
        
  </main>
  <footer>
    <div class="info">
      <div class="contacto">
        <ul>
          <li>3208521110 - 3142444629</li>
          <li>eventosespinal@ccsurortolima.org.co</li>
          <li>Centro de Eventos Cra 3 Calle 21 B. Belén El Espinal Tolima</li>
        </ul>
      </div>
      <div class="horario">
        <h4>Horario de Atención</h4>
        <p>Lunes a Viernes: 8:00 a.m. a 12:30 p.m. y de 2:00 p.m. a 6:00 p.m. <br> Sábados: 8:00 a.m. a 12:00 p.m.</p>
      </div>
    </div>
    <div class="eslogan">
      <h4>"Los <b style="color: #058B3C; font-style: italic;">GRANDES</b> momentos se celebran en los <b style="color: #058B3C; font-style: italic;">MEJORES</b> escenarios"</h4>
    </div>
    <div class="sobre-cc">
      <div style="text-align: center; margin-left: 100px;" class="more-info">
        <img src="img/LOGO CC-05.png">
        <p>Somos Cámara de Comercio del Sur y Oriente del Tolima, estamos comprometidos en fortalecer una region empresaria y competitiva.</p>
      </div>
      <div class="more-info">
        <h4>Atención al Cliente</h4>
        <ul>
          <li>Único correo para notificaciones judiciales: <b style="font-weight: 600;">contactenos@ccsurortolima.org.co</b></li>
          <li>Canales de atención y sedes</li>
          <li>Trabaje con nosotros</li>
          <li>Intranet</li>
        </ul>
      </div>
      <div class="more-info">
        <h4>Información de Interés</h4>
        <ul>
          <li>Ley de Transparencia</li>
          <li>Protección de datos personales</li>
          <li>Tarifas</li>
          <li>Formación</li>
          <li>Calendario de Eventos</li>
          <li>Centro de Apropiación Tecnológica y Desarrollo Empresarial - CTDE</li>
        </ul>
      </div>
      <div class="more-info" style="margin-right: 100px;">
        <h4>Sobre Cámara de Comercio</h4>
        <ul>
          <li>Registros públicos</li>
          <li>Desarrollo empresarial</li>
          <li>Centro de eventos</li>
          <li>Proveedores y contratistas</li>
          <li>Certificación de Sistemas de Gestión</li>
        </ul>
      </div>
    </div>
    <div class="politicas">

    </div>
  </footer>

  <script src="/js/nav_fijo.js"></script>
</body>
</html>