<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header.css">
  <title>Document</title>
</head>
<style>
  body {
    background-color: beige;
  }
</style>
<body>
  <div class="nav2">
    <ul class="ul_links">
      <li><a href="" class="menu1">Inicio</a></li>
      <li><a href="" class="menu1">Sobre la <br>Cámara</a>
        <ul class="submenus uno">
          <li><a href="" class="menu2-top">¿Quienes somos?</a></li>
          <li><a href="" class="menu2">Estructura organizacional</a></li>
          <li><a href="" class="menu2">Directorio institucional</a></li>
          <li><a href="" class="menu2">Elecciones justa directiva y revisoría Fiscal 2023 - 2026</a></li>
          <li><a href="" class="menu2">Inspección vigilancia y control</a>
            <ul class="menu3-1">
              <li><a href="" class="menu2-top">Mecanismos internos de supervición</a></li>
              <li><a href="" class="menu2">Entes y autoridades que vigilan o supervisan nuestra entidad</a></li>
              <li><a href="" class="menu2">Mecanismos de contacto con el sujeto obligado</a></li>
              <li><a href="" class="menu2">Ley de Transparencia</a></li>
              <li><a href="" class="menu2-bottom">Sistema de prevención de fraudes - SIPREF</a></li>
            </ul>
          </li>
          <li><a href="" class="menu2">¿Quieres ser proveedor de bienes y servicios?</a></li>
          <li><a href="" class="menu2-bottom">Peticiones, quejas, reclamos, solicitudes y felicitaciones</a></li>
        </ul>
      </li>
      <li><a href="" class="menu1">Registros <br>Públicos</a>
        <ul class="submenus uno">
          <li><a href="" class="menu2-top">Tramites virtuales</a>
            <ul class="menu3-2">
              <li><a href="" class="menu2-top">Creacion de empresa</a>
                <ul class="menu3-3">
                  <li><a href="" class="menu2-alone">VUE - Ventanilla Única Empresarial</a></li>
                </ul>
              </li>
              <li><a href="" class="menu2">Renovacion de la matricula mercantil</a>
                <ul class="menu3-4">
                  <li><a href="" class="menu2-top">Registro de entidades sin ánimo de lucro - ESAL</a></li>
                  <li><a href="" class="menu2">Registro nacional de turismo - RNT</a></li>
                  <li><a href="" class="menu2">Registro unico nacional de operadores de Libranza - RUNEOL</a></li>
                  <li><a href="" class="menu2">Registro único de proponentes</a></li>
                  <li><a href="" class="menu2">Registro de entidades de economía solidaria</a></li>
                  <li><a href="" class="menu2">Registro de veedurías ciudadanas</a></li>
                  <li><a href="" class="menu2-bottom">Registro de vendedores de juegos de suerte y azar</a></li>
                </ul>
              </li>
              <li><a href="" class="menu2">Consulta de nombre (homonimia)</a></li>
              <li><a href="" class="menu2">Inscripción de documentos</a></li>
              <li><a href="" class="menu2">Registro único de proponentes</a></li>
              <li><a href="" class="menu2">Verificación de certificados</a></li>
              <li><a href="" class="menu2-bottom">Certificados</a></li>
            </ul>
          </li>
          <li><a href="" class="menu2">Registro mercantil</a></li>
          <li><a href="" class="menu2">Guías, modelos y formatos</a></li>
          <li><a href="" class="menu2">Trarifas</a></li>
          <li><a href="" class="menu2">Sociedades BIC</a></li>
          <li><a href="" class="menu2-bottom">Noticia mercantil</a></li>
        </ul>
      </li>
      <li><a href="" class="menu1">Oportunidades <br>Empresariales</a>
        <ul class="submenus uno">
          <li><a href="" class="menu2-top">Diagnóstico Empresarial</a></li>
          <li><a href="" class="menu2">Emprendimiento</a></li>
          <li><a href="" class="menu2">Economía Popular</a></li>
          <li><a href="" class="menu2">Programas Empresariales</a></li>
          <li><a href="" class="menu2">Asociatividad</a></li>
          <li><a href="" class="menu2">Transformación Digital</a></li>
          <li><a href="" class="menu2">Exporte sus Productos</a></li>
          <li><a href="" class="menu2">Productividad</a></li>
          <li><a href="" class="menu2-bottom">Sostenible</a></li>
        </ul>
      </li>
      <li><a href="" class="menu1">Conciliación y <br>Arbitraje</a></li>
      <li><a href="" class="menu1">Afiliados</a></li>
      <li><a href="" class="menu1">Eventos</a>
        <ul class="submenus uno">
          <li><a href="" class="menu2-top">Calendario de eventos</a>
            <ul class="menu3-5">
              <li><a href="" class="menu2-top">Ferias, exposiciones y ruedas de negocios</a></li>
              <li><a href="" class="menu2-bottom">Misiones comerciales</a></li>
            </ul>
          </li>
          <li><a href="" class="menu2">Capacitaciones</a>
            <ul class="menu3-6">
              <li><a href="" class="menu2-top">Formación sin costo</a></li>
              <li><a href="" class="menu2-bottom">Formación especializada</a></li>
            </ul>
          </li>
          <li><a href="" class="menu2-bottom">Centro de Eventos</a></li>
        </ul>
      </li>
    </ul>
    <div class="btn-search">
      <a href=""><i class="bi bi-search"></i></a>
      <button>Trámites Virtuales</button>
    </div>
  </div>
</body>
</html>